.hero {
  margin-top: 120px;
}
.hero__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.hero__top--title {
  color: #fffcf6;
  font-size: 220px;
  font-weight: 400;
  span {
    color: var(--Secondary-color, #fcd043);
    font-size: 220px;
    font-weight: 400;
  }
}
.hero__since {
  display: flex;
  gap: 260px;
  align-items: start;
}
.hero--btn {
  width: 249px;
  height: 70px;
  background-color: var(--Primary-color, #313f38);
  border: 1px solid #fffcf6;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  img {
    font-size: 35px;
  }
  span {
    color: #fffcf6;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.hero--icon {
  width: 70px;
  height: 70px;
}
.hero__top--hidenText {
  display: none;
  max-width: 200px;
  color: var(--White, #fffcf6);
  font-size: 13px;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
}
.hero__bottom {
  display: flex;
  justify-content: space-between;
}
.hero__bootom--text {
  padding-top: 24px;
  color: var(--Secondary-color, #fcd043);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__bottom--line {
  height: 1px;
  width: 173px;
  background: rgb(199, 199, 199);
  margin: 0 auto;
  display: none;
}
.hero__bottom--text--2 {
  margin-right: 225px;
  max-width: 350px;
  color: var(--White, #fffcf6);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
@media screen and (max-width: 1660px) {
  .hero__top--title {
    font-size: 170px;
    span {
      font-size: 170px;
    }
  }
  .hero__since {
    gap: 134px;
  }
  .hero__bootom--text {
    font-size: 18px;
  }
  .hero__bottom--text--2 {
    margin-right: 100px;
    font-size: 16px;
  }
  .hero {
    margin-top: 91px;
  }
}
@media screen and (max-width: 1440px) {
  .hero__top--title {
    font-size: 120px;
    span {
      font-size: 120px;
    }
  }
  .hero--btn {
    display: none;
  }
  .hero__top--hidenText {
    display: block;
    font-size: 13px;
    max-width: 200px;
  }
  .hero--icon {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .hero__top {
    align-items: center;
  }
  .hero__bottom--text--2 {
    display: none;
  }
  .hero__bootom--text {
    font-size: 14px;
  }
  .hero__since {
    gap: 80px;
  }
  .hero {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__top--title {
    font-size: 80px;
    span {
      font-size: 80px;
    }
  }
  .hero__top--hidenText {
    font-size: 12px;
    max-width: 140px;
  }
  .hero--icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .hero__bottom--text--2 {
    display: none;
  }
  .hero__bootom--text {
    font-size: 12px;
  }
  .hero__since {
    gap: 60px;
  }
  .hero {
    margin-top: 20px;
  }
}
@media screen and (max-width: 710px) {
  .hero__top {
    justify-content: center;
  }
  .hero__top--title {
    margin-top: 24px;
    max-width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    span {
      text-align: center;
      font-size: 80px;
      font-weight: 400;
    }
  }
  .hero__top--hidenText {
    display: none;
  }
  .hero--icon {
    display: none;
  }
  .hero__bottom--text--2 {
    display: block;
    max-width: 290px;
    text-align: center;
    margin: 0;
  }
  .hero__bottom--line {
    display: block;
  }
  .hero__bootom--text {
    font-size: 12px;
    text-align: center;
  }
  .hero__bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .hero {
    margin:0;
  }
}
@media screen and (max-width:375px) {
    .hero__top--title{
        font-size: 60px;
        span{
            font-size: 60px;
        }
    }
    .hero__bootom--text {
        font-size: 8px;
    }
    .hero__bootom--text--2 {
        font-size: 8px;
    }
}