.navbar {
  padding: 45px 0;
}
.navbar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--title {
  color: var(--White, #fffcf6);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.navbar__links {
  display: flex;
  align-items: center;
}
.navbar__links__wrap {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-right: 399px;
}
.navbar__links--link {
  color: var(--White, #fffcf6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
}
.navbar__links--tel {
  color: var(--White, #fffcf6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}
.hiden__menu {
  display: none;
}
@media screen and (max-width: 1550px) {
  .navbar{
    padding-top: 30px;
  }
  .navbar__links__wrap {
    margin-right: 170px;
  }
}
@media screen and (max-width: 1440px) {
  .navbar{
    padding-top: 8px;
  }
  .navbar--title {
    font-size: 16px;
  }
  .navbar__links__wrap,.navbar__links--tel{
    display: none;
  }
  .hiden__menu {
    display: block;
    width: 40px;
    height: 10px;
  }
}

