*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a,li,ul,input,button{
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1980px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(59, 104, 104);
}